/* tablet */
@media screen and (min-width:768px) {
  .container {
    max-width: 736px;
  }

  .site-navigation .nav-item {
    margin-right: 40px;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .site-navigation {
    display: flex;

  }


  .current {

    position: relative;
    color: var(--accent-color);


    ;

  }



  .current::after {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    color: var(--accent-color);
  }




  .contact-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

  }

  .contact-navigation .contact-item+.contact-item {
    margin-left: 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-navigation .link {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 24px;


    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    ;
    transition-property: color;

  }

  .nav-item .current {

    position: relative;
    color: var(--accent-color);




  }

  .site-navigation .link :focus,
  .site-navigation .link :hover {
    color: var(--accent-color);
  }



  .contact-navigation .link,
  .tel {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 1.1em;
    color: var(--description-text-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    ;
    transition-property: color;

  }




  .contact-navigation .link:focus,
  .contact-navigation .link:hover {
    color: var(--accent-color);
  }

  .contact-navigation .tel:focus,
  .contact-navigation .tel:hover {
    color: var(--accent-color);
  }

  .hero-section {
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office-final-tab.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office-final-tab2x.jpg );
      ;
    }
  }

  .hero-title {
    width: 100%;
    max-width: 496px;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 1em;
    color: var(--hero-title-color);
    margin: auto;
    text-align: center;

  }

  .feature-list .title {
    text-align: unset;
  }

  .feature-item {
    width: calc((100% - 30px) / 2);
  }

  .customer-item {
    width: calc((100% - 60px) / 3);
  }

 

    

  .customers-list {
    gap: 24px;
    margin-bottom: 0;
  }

  .customer-link {

    display: inline-block;
    padding: 16px 32px;
    width: 168px;
    height: 88px;
    border: 1px solid var(--customer-icon-color);
    border-radius: 4px;
    gap: 24px;
  }


  .portfolio-section{
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-list{
    justify-content: center;
  }

  .example-list{
    width: 100%;
    justify-content: start;
    
  }
    .example-unit{
      width: calc((100% - 30px) / 2);
    }
   
}
